/* Tabs styles */
.tabs 
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2px;
}
  
  .tab-button 
  {
    width: 100%;
    padding: 8px;
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(5, 12, 44, 0.336);
    backdrop-filter: blur(10px);
    color: white;
  }
  
  .tab-button.active {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    padding: 8px 8px 8px 8px;
    transform: translateY(4px);
  }

  .forecast-content
  {   
    border: 1px solid #ddd;
    padding: 0 8px;
     background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
  
 /* Horizontal summary card with emojis */
.summary-card-horizontal {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .summary-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0 10px;
  }
  
  .summary-item span {
    font-size: 24px;
    margin-right: 5px;
  }
  
  /* Hourly scroll */
  .hourly-scroll {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
  }
  
  .hourly-card {
    flex-shrink: 0;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 100px;
  }
  
  .hourly-card p {
    margin: 5px 0;
  }
  