/* General Styles for the SearchBar */
.search-container {
    position: relative;
    /* display: flex;
    flex-direction: column;
    gap: 7px;

    color: white; */
    /* padding: 4px 8px;
    border-radius: 12px; */

    /* justify-content: start; */
    /* align-items: center; */
    /* background: linear-gradient(to top right, #f472b6, #fbbf24); Gradient background
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); */
  }

  .search-input 
  {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }

  .search-input::placeholder {
    color: #4a5568;
  }

  .search-input:focus 
  {
    opacity: 1;
    width: 250px;
  }

  .search-input:focus::placeholder {
    color: transparent;
  }

  /* Position and style for the search icon */
  .search-container svg 
  {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }

.TempNotherDetails .tempNclouds {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  color: #fff;
  margin: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}