.WeatherApp .Header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 0.86rem;
  background: #f0ffff17;
  border-top-right-radius: 30px;
}

.Header .logo-dt
{
    width: 200px;
}

.Header h2
{
    font-size: calc(2svw * 0.01rem);
}

.Header strong
{
    font-size: 12px;
}

.WeatherApp .search 
{    
  /* position: relative; */


  /* width: 100%; */
  display: flex;  
  text-align: center;
  /* justify-content: space-around; */
  
  font-size: 32px;
  gap: 10px;

  background: linear-gradient(to right, rgba(226, 226, 226, 0),rgba(226, 226, 226, 0.178),transparent);
}

.WeatherApp input 
{
  margin-top: 10px;
  padding: .7rem 1.5rem;
  width: 50svw;
  max-width: 100%;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  border:none;
  border-radius: 4px;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  /*border-top: 1px solid rgba(255,255,255, 0.8);*/
  border-bottom: 1px solid rgba(255,255,255, 0.8);

  background: linear-gradient(0deg, rgba(255,255,255, 0.1), transparent) ;
  background: linear-gradient(90deg, rgba(255,255,255, 0.1), transparent) ;
  color: #f8f8f8;
}

input:focus
{
    outline: none;  
    border-bottom: 2px solid cornflowerblue;  
}


.bm-loc-btn 
{ 
    border-radius: 100%;
    width: 38px;
    height: 38px;
}

.bm-search-btn 
{ 
    border-radius: 100%;
    box-shadow: whitesmoke -4px 1px 5px;   
    width: 38px;
    height: 38px;
}

.search .loc-pin-container
{
    position: relative;    
    transform: translate(126%, 8px);

    display: flex;
    justify-self: start;
    gap: 4px;
}

.loc-pin-container button
{
    background-color: transparent;
    border-radius: 0px;
    font-size: 21px;
}


.loc-select-container 
{
    position: absolute;
    right: 32px;
    width: 2%; /* Set the width as needed */
    background: transparent;
}

.custom-dropdown 
{
    /* border: 1px solid #ccc; */
    padding: 1px;
    cursor: pointer;
    /* background-color: white; */
    border-radius: 4px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: space-between; /* Align items in a row */
    align-items: center; /* Center items vertically */
}

.selected 
{
    font-weight: bold;
    flex-grow: 1; /* Allow the selected text to take available space */
}

.dropdown-arrow 
{
    position: relative;
    margin-right: 4px; /* Space between text and arrow */
    font-size: 32px; /* Adjust arrow size as needed */
    float: right;
}

.dropdown-list 
{
    position: absolute;
    top: 100%;
    right: 1%;
    width: 200px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;    
}

.dropdown-item 
{
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    border-bottom: #cccccc70 solid 1px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}


.btn-h-group
{
    position: absolute;
    right: 16px;
    top: 16px;
    transform: translate(-1px, 0px);

    display: flex;
    gap: 8px;
}

.btn-h-group button
{
    /* background: rgba(128, 128, 128, 0.541); */
    border: 1px solid rgb(37, 37, 37);
    border-radius: 50px;
    box-shadow: 0px 0px 5px wheat;
    
    width: 40px;
    height: 40px;
}

.btn-h-group .icn
{    
    width: 40px;
    height: 40px;
    font-size: 26px;
}

.setting-menu
{
    display: none;
}

.setting-menu.open
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    right: 8px;
    text-align: center;
    width: 256px;
    height: 236px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    /* border-top-right-radius: 0; */
    box-shadow: black 0px 2px 5px;
    z-index: 1000;
}

.setting-btn-fill
{
    background: rgb(77, 77, 77);
}

.systems
{
    display: flex;
    gap: 10px;
    padding: 10px;
    
}

.system
{
    background-color: rgb(156, 255, 255);
    width:  86px;
    cursor: pointer;
}

.system:hover
{
    background-color: rgb(194, 255, 255);
    width:  86px;
}

.system.active
{
    font-weight: bold;
    background: gray;
}


.location
{
    display: flex;
    justify-content: space-between;

    /* margin: 2em 5% 0px 4.5%; */
    padding:  0px 0px 0px 16px;
    background:linear-gradient(to right, #f3f0f033, #f3f0f01f, transparent);
}

.location p
{
    width: 100%;  
}

.location strong
{
    float: right; 
    font-size: calc(20px); 
    width:calc(50svw);
}


.bm-save-btn
{  
    width: 40px;
    height: 40px;
    box-shadow: #f8f8f8 -1px 0px 1px;
    border-radius: 25px; 
}

.bm-save-btn button
{  
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.582);

}

.bm-save-btn .icn
{  
    width: 40px;
    height: 40px;
    font-size: 20px;
    transform: translate(-1px, 5px);      
}

.Forecasts
{
    width: 100%; 
}

.Forecasts.hourly
{
    width: 100%;
    display: flex;
    justify-content: end; 
}

.Forecasts strong
{
    margin: 0;
    padding: 0;
}

.h-scroll
{
    margin-top: 0.5rem;
    padding: 4px;

    display: flex;
    align-items: start;    

    width: 98%;
    height: 128px;

    border-top: solid 1px whitesmoke;
    /* background: #f8f8f827;    */    
    /* overflow-x: scroll;
    scroll-behavior: smooth; */
    display: hidden;

    gap: 10px;
}

.v-scroll
{
    margin-top: 0.5rem;
    padding: 4px;

    display: flex;
    flex-direction: column;
    align-items: start;    

    width: 98%;
    height: 128px;

    border-top: solid 1px whitesmoke;
    /* background: #f8f8f827;    */    
    /* overflow-x: scroll;
    scroll-behavior: smooth; */
    display: hidden;

    gap: 10px;
}

.v-scroll ul
{
    align-items: end;
    float: right;
}

.v-scroll .box
{
    width: 100%;
    display: flex;
    padding: 8px 32px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.box
{
    padding: 4px;
    background: #00000052;    
    min-width: 86px;
    border: 1px whitesmoke solid;
    border-radius: 10px;
    box-shadow: #f8f8f8 -1px 1px 5px;
    text-align: start;
}

.box#hourly
{
    height: 80px;
}



