.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f1f1f1;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.terms-of-service 
{
    position: absolute;
    top: 86px;
    background: #ccc;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: auto;
    height: 85svh;
}

.terms-of-service button
{
    padding: 8px;
    background: rgb(86, 187, 255);
}

