/* App.css */
* 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}


#root 
{
  position: fixed;
  top:0;
  /* max-width: 1280px; */
  height: 100svh;
  width: 100svw;
  background-color: cadetblue;
  background-image: url('https://cdn.pixabay.com/photo/2015/07/05/10/18/tree-832079_640.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0 auto;
}


.WeatherApp#light
{
  background-color: rgba(235, 235, 235, 0.45);
  color: black;
}

.WeatherApp#light input::placeholder
{
  color: #000000;
}

.WeatherApp#light input
{
  color: #000000;
}

::placeholder 
{
  color: #f8f8f8;
}



.TempNotherDetails .tempNclouds
{
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
}

.TempNotherDetails .highlights-container
{
  display: flex;
  flex-direction: column;
  width: 100%;  
}

.highlights
{
  display: flex;
  flex-direction: row; 
 
  width: 96%;
  height: 54px;

  justify-content: center;
  align-items: center;

  margin: 1px 8px;
  padding: 0rem 0rem 0rem 0rem;  

  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  gap: 8px;
}

.bold 
{
  text-decoration: overline;
  font-size: 18px;
  font-weight: 700;
  
}

.highlights .hl-box
{
  align-self: flex-end;
  padding: 0px 2px; 
  font-size: 12px;  
  text-align: center;  
  width: 128px;
  border: 1px rgb(95, 95, 95) solid; 
  border-radius: 5px;

}

.hl-box .h-block
{
    display:flex;
    justify-content:center;
}

.Main
{
  width: 100%;
  height: 99%;
  /* display: flex; */
  padding: 5px
}

.cloud
{
  display: flex;
}

.cloud p
{
  margin-left: 16px;  
  transform: translateX(16px) rotate(269deg);
  text-decoration: overline;  
}

.cloud .coverImg
{
  width: 86px;
  height: 86px;
  font-size: 64px;
  transform:  translate(-20px, 1px);
  
}

.fc_coverImg
{  
  text-align: center;
  font-size: 32px;
}

.feels
{
  font-size: 12px;
}

.feels strong
{
  margin-left: 16px;
}

.WeatherApp .description 
{   
  margin-top: -10px; 
  
}

#cover-dir 
{
  display: flex;
  
  font-size: 14px;
  margin-right: 10px;
  margin-left: -36px;
  
  gap: 8px

 
}
#cover-dir .wind-dir
{
  position: relative;
  top: -84px;
  right: 0px;
  font-size: 32px;
}








